@media (max-width: 600px) {
  header.masthead .masthead-content .masthead-heading h1 {
    font-size: 5rem!important;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem!important;
  }
}

