<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="../assets/style.css" />
    <link rel="stylesheet" href="../assets/simple-grid.css" />

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>{{ page.title }} - The Singapore STEM Club</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://thesingaporestemclub.com/assets/img/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://thesingaporestemclub.com/assets/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="180x180"
      href="https://thesingaporestemclub.com/assets/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="https://thesingaporestemclub.com/assets/img/android-chrome-192x192.png"
    />

    <link rel="stylesheet" href="../assets/GothamRounded.css" />
    <link rel="stylesheet" href="../assets/GothamRounded-Bold.css" />
    <link rel="stylesheet" href="../assets/GothamRounded-Italic.css" />
    <!-- Primary Meta Tags -->
    <title>The Singapore STEM Club</title>
    <meta name="title" content="The Singapore STEM Club" />
    <meta
      name="description"
      content="Amazing STEM-focused events for secondary students in Singapore by secondary students."
    />

    <style>
      a {
        color: white;
      }
    </style>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta property="og:title" content="The Singapore STEM Club" />
    <meta
      property="og:description"
      content="Amazing STEM-focused events for secondary students in Singapore by secondary students."
    />
    <meta
      property="og:image"
      content="https://cdn.glitch.com/18385993-4838-4e88-9710-880ada6cd17f%2FScreen%20Shot%202020-06-08%20at%207.02.12%20PM.png?v=1591615852059"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta property="twitter:title" content="The Singapore STEM Club" />
    <meta
      property="twitter:description"
      content="Amazing STEM-focused events for secondary students in Singapore by secondary students."
    />
    <meta
      property="twitter:image"
      content="https://cdn.glitch.com/18385993-4838-4e88-9710-880ada6cd17f%2FScreen%20Shot%202020-06-08%20at%207.02.12%20PM.png?v=1591615852059"
    />

    <!-- import the webpage's javascript file -->
    <script src="script.js" defer></script>
  </head>
  <body>
    <div style="max-width: 100vw;">
      <div class="sidenav hidden-sm">
        <div class="vertical-center">
          <a href="../index.html" style="text-decoration:none">
            <h2
              style="
                color: #ffffff;
                font-family: GothamRounded-Bold;
                font-size: 15px;
              "
            >
              The Singapore
            </h2>
            <h1>
              STEM
            </h1>
            <h1>
              CLUB
            </h1>
          </a>
          <a
            href="https://bank.hackclub.com/donations/start/the-singapore-stem-club"
            ><button class="button button4">Donate</button></a
          >
          <a href="mailto:hello@thesingaporestemclub.com"
            ><button class="button button4">Contact Us</button></a
          >
        </div>
      </div>
      <div
        class="topbar hidden-lm"
        style="background-color: rgba(238, 35, 55, 1); margin-bottom: -15px;"
      >
        <h2
          style="
            color: #ffffff;
            font-family: GothamRounded-Bold;
            font-size: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
          "
        >
          The Singapore STEM Club
        </h2>
      </div>
      <div class="container">
        <div>
          <div class="section text-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
